.jumbotron {
  background-image: url(../img/places/nairobi.jpg);
  /*banner*/
  background-image: url(../img/places/banner.jpg);
  background-position: bottom;
  background-size: cover;
  height: 414px;
  overflow: hidden;
  position: relative;

  margin-bottom: 0;
}

.jumbotron img#stamp {
  bottom: -10px;
  height: 100px;
  position: absolute;
  right: -10px;
  transform: rotate(340deg);
  width: auto;
  -webkit-filter: brightness(4);
  display: none;

}

.jumbotron h1,
.jumbotron h3 {
  transform: rotate(358deg);
}

.jumbotron h3 {
  margin-bottom: 20px;
}

.jumbotron a {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  font-size: 1.5em;
  margin-top: 120px;
  padding: 10px 40px;
}

.jumbotron a:hover {
  background-color: #fff;
  border-color: #e74c3c;
  color: #e74c3c;
}

.youre-booked {
  font-size: 2em;
  margin-top: 120px;
}

.youre-booked a:hover {
  color: #fff;
}

#social {
  margin-top: 20px;
  float: right;
}

.popular-property {
  background-color: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.popular-property .property-image {
  background-color: #ecf0f1;
  border: none;
  border-radius: 50%;
  display: block;
  height: 100px;
  margin: 0 auto 20px;
  width: 100px;
}

.popular-property a {
  font-size: small;
}

#what {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

#what a {
  color: #e74c3c;
  border-bottom: 3px solid #fff;
  font-size: 1.2em;
  display: inline-block;
  padding: 20px;
}

#what a:hover {
  border-bottom-color: #e74c3c;
  text-decoration: none;
}

#listed-properties,
#places-of-interest {
  display: none;
}

#listed-properties-filters {
  display: none;
}

#listed-properties-filters form {
  margin: 10px 0;
}

#listed-properties .listed-property {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  margin-bottom: 10px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

#listed-properties .listed-property .property-image {
  background-color: #566d85;
  display: inline-block;
  position: absolute;
  width: auto;
}

#listed-properties .listed-property .property-content {
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, .5) 20%, #fff 40%);
  height: 100%;
  padding: 0 30px;
  padding-left: 330px;
  /*position: absolute;*/
}

.rating {
  margin-bottom: 10px
}

.rating .glyphicon {
  color: #bdc3c7;
  font-size: .8em;
}

#listed-properties .loading {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 10px;
}

.avialable-room-details {
  border-bottom: 1px solid #ccc;
  min-height: 320px;
  position: relative;
}

.avialable-room-details .room-image {
  background-position: center;
  background-size: cover;
  height: 100px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.avialable-room-details .room-details {
  background-image: linear-gradient(transparent, #fff 32%);
  padding: 10px;
  padding-top: 120px;
  position: absolute;
  width: 100%;
}


#city-events .event {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-bottom: none;
  padding: 10px;
}

#city-events .event:last-child {
  border-bottom: 1px solid #d3d3d3;
}

#city-events .event .event-name {
  color: #2ecc71;
}

#city-events .event .event-date {
  color: #566d85;
  font-weight: bold;
}
